### data preprocessing

dataset : https://finance.yahoo.com/quote/sbux/history/

In [2]:
import os
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader
from torch.autograd import Variable

from tqdm import tqdm
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn. model_selection import train_test_split

In [11]:
data = pd.read_csv('./data/SBUX.csv')
data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-12-11  86.260002  86.870003  85.849998  86.589996  84.145752   4921900
1  2019-12-12  88.000000  88.889999  87.540001  88.209999  85.720032  10282100
2  2019-12-13  88.019997  88.790001  87.580002  88.669998  86.167046   6714100
3  2019-12-16  89.139999  89.300003  88.430000  88.779999  86.273941   6705600
4  2019-12-17  88.870003  88.970001  87.470001  88.129997  85.642288   7296900

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

In [19]:
data.sort_values('Date', inplace=True)

In [20]:
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-12-11  86.260002  86.870003  85.849998  86.589996  84.145752   4921900
2019-12-12  88.000000  88.889999  87.540001  88.209999  85.720032  10282100
2019-12-13  88.019997  88.790001  87.580002  88.669998  86.167046   6714100
2019-12-16  89.139999  89.300003  88.430000  88.779999  86.273941   6705600
2019-12-17  88.870003  88.970001  87.470001  88.129997  85.642288   7296900

In [21]:
data['Volume'] = data['Volume'].astype(float)

In [36]:
X = data.drop('Volume', axis=1)
y = data[['Volume']]

In [37]:
print(X)
print(y)

                  Open        High         Low       Close   Adj Close
Date
2019-12-11   86.260002   86.870003   85.849998   86.589996   84.145752
2019-12-12   88.000000   88.889999   87.540001   88.209999   85.720032
2019-12-13   88.019997   88.790001   87.580002   88.669998   86.167046
2019-12-16   89.139999   89.300003   88.430000   88.779999   86.273941
2019-12-17   88.870003   88.970001   87.470001   88.129997   85.642288
...                ...         ...         ...         ...         ...
2020-12-04  101.349998  102.940002  101.070000  102.279999  101.442787
2020-12-07  102.010002  102.220001  100.690002  101.410004  100.579918
2020-12-08  100.370003  101.570000  100.010002  101.209999  100.381554
2020-12-09  101.940002  102.209999  100.099998  100.400002   99.578186
2020-12-10  103.510002  106.089996  102.750000  105.389999  104.527336

[253 rows x 5 columns]
                Volume
Date
2019-12-11   4921900.0
2019-12-12  10282100.0
2019-12-13   6714100.0
2019-12-16   6705600.0
2019-12-17   7296900.0
...                ...
2020-12-04   6952700.0
2020-12-07   4514800.0
2020-12-08   3911300.0
2020-12-09   6629900.0
2020-12-10  12939200.0

[253 rows x 1 columns]

In [40]:
ms = MinMaxScaler()
ss = StandardScaler()

X_ss = ss.fit_transform(X)
y_ms = ms.fit_transform(y)

X_train = X_ss[:200, :]
X_test = X_ss[200:, :]

y_train = y_ms[:200, :]
y_test = y_ms[200:, :]

print('Train', X_train.shape, X_test.shape)
print('Test', y_train.shape, y_test.shape)

Train (200, 5) (53, 5)
Test (200, 1) (53, 1)

In [42]:
X_train_tensors = Variable(torch.Tensor(X_train))
X_test_tensors = Variable(torch.Tensor(X_test))

y_train_tensors = Variable(torch.Tensor(y_train))
y_test_tensors = Variable(torch.Tensor(y_test))

X_train_tensors_f = torch.reshape(X_train_tensors, (X_train_tensors.shape[0], 1, X_train_tensors.shape[1]))
X_test_tensors_f = torch.reshape(X_test_tensors, (X_test_tensors.shape[0], 1, X_test_tensors.shape[1]))

print('Train', X_train_tensors_f.shape, X_test_tensors_f.shape)
print('Test', y_train.shape, y_test.shape)

Train torch.Size([200, 1, 5]) torch.Size([53, 1, 5])
Test (200, 1) (53, 1)

### model