In [1]:
import os
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader
from torch.autograd import Variable

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

%matplotlib inline

# 데이터 확인

In [2]:
data = pd.read_csv('./data/SBUX.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

In [3]:
data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-12-11  86.260002  86.870003  85.849998  86.589996  84.145752   4921900
1  2019-12-12  88.000000  88.889999  87.540001  88.209999  85.720032  10282100
2  2019-12-13  88.019997  88.790001  87.580002  88.669998  86.167046   6714100
3  2019-12-16  89.139999  89.300003  88.430000  88.779999  86.273941   6705600
4  2019-12-17  88.870003  88.970001  87.470001  88.129997  85.642288   7296900

In [4]:
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
data['Volume'] = data['Volume'].astype(float)

data.head()

                 Open       High        Low      Close  Adj Close      Volume
Date
2019-12-11  86.260002  86.870003  85.849998  86.589996  84.145752   4921900.0
2019-12-12  88.000000  88.889999  87.540001  88.209999  85.720032  10282100.0
2019-12-13  88.019997  88.790001  87.580002  88.669998  86.167046   6714100.0
2019-12-16  89.139999  89.300003  88.430000  88.779999  86.273941   6705600.0
2019-12-17  88.870003  88.970001  87.470001  88.129997  85.642288   7296900.0

- scaling

In [7]:
X = data.drop('Volume', axis=1)
Y = data[['Volume']]

In [8]:
ms = MinMaxScaler()
ss = StandardScaler()

X_ss = ss.fit_transform(X)
Y_ms = ms.fit_transform(Y)

train_x = X_ss[:200, :]
test_x = X_ss[200:, :]
train_y = Y_ms[:200, :]
test_y = Y_ms[200:, :]

train_x.shape, train_y.shape, test_x.shape, test_y.shape

((200, 5), (200, 1), (53, 5), (53, 1))

- preprocessing

In [11]:
train_tensor_x = Variable(torch.Tensor(train_x))
test_tensor_x = Variable(torch.Tensor(test_x))
train_tensor_y = Variable(torch.Tensor(train_y))
test_tensor_y = Variable(torch.Tensor(test_y))

train_x_f = torch.reshape(train_tensor_x, (train_tensor_x.shape[0], 1, train_tensor_x.shape[1]))
test_x_f = torch.reshape(test_tensor_x, (test_tensor_x.shape[0], 1, test_tensor_x.shape[1]))

train_x_f.shape, train_tensor_y.shape, test_x_f.shape, test_tensor_y.shape

(torch.Size([200, 1, 5]),
 torch.Size([200, 1]),
 torch.Size([53, 1, 5]),
 torch.Size([53, 1]))